In [2]:
#import all necessary libraries
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pd.read_excel('Prediction_data.xlsx')

In [4]:
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,...,solar_energy_per_capita,solar_share_elec,solar_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Brazil,1960,BRA,73092520,243618971648,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Brazil,1961,BRA,75330008,264690958336,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Brazil,1962,BRA,77599224,282182189056,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Brazil,1963,BRA,79915560,283741028352,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Brazil,1964,BRA,82262800,293385666560,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#Checking the co-relation between year, population and GDP
matrix = df[['year', 'population', 'gdp']].corr()
matrix

                year  population       gdp
year        1.000000    0.137875  0.384156
population  0.137875    1.000000  0.454840
gdp         0.384156    0.454840  1.000000

In [75]:
#Extracting Column names and country names for renaming columns after encoder step
column_names = df.columns.to_numpy()
country_names = df['country'].unique()
new_column_names = np.concatenate((column_names, country_names))

In [77]:
#Creating one hot encoder for selected country names and creating a dataframe of the encoding
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(df[['country']]).toarray())
encoder_df

      0    1    2    3    4    5    6    7    8    9    10   11   12
0    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
789  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
790  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
791  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
792  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
793  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[794 rows x 13 columns]

In [76]:
#Creating the final dataframe by joining the encoder columns and the values.
final_df = df.join(encoder_df)
#Renaming the columns
final_df.columns = new_column_names
#excel_file_path = 'final_df.xlsx'
#final_df.to_excel(excel_file_path, index=False)
final_df

,country,year,iso_code,population,gdp,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,...,France,Germany,India,Italy,Japan,Norway,Russia,Spain,Sweden,United_States
0,Brazil,1960,BRA,73092520,243618971648,0.000,0.000,0.000,0.000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Brazil,1961,BRA,75330008,264690958336,0.000,0.000,0.000,0.000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Brazil,1962,BRA,77599224,282182189056,0.000,0.000,0.000,0.000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Brazil,1963,BRA,79915560,283741028352,0.000,0.000,0.000,0.000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Brazil,1964,BRA,82262800,293385666560,0.000,0.000,0.000,0.000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,United_States,2018,USA,332140032,18140645818368,-5.433,1218.223,404.621,186.156,61.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
790,United_States,2019,USA,334319680,19036100000000,11.250,1243.930,415.870,172.021,57.51,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
791,United_States,2020,USA,335942016,18509100000000,-37.549,1126.150,378.321,162.826,54.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
792,United_States,2021,USA,336997632,19609800000000,37.518,1233.954,415.839,160.980,54.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
793,United_States,2022,USA,338289856,20041100000000,18.026,1282.526,433.866,158.030,53.46,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [24]:
#Defining the label columns and seperating the feature column for modelling
consumption = 'primary_energy_consumption'
x = final_df[np.concatenate((np.array(['year', 'population', 'gdp']), country_names))]
y = final_df[consumption]

,year,population,gdp,Brazil,Canada,China,France,Germany,India,Italy,Japan,Norway,Russia,Spain,Sweden,United_States
0,1960,73092520,243618971648,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1961,75330008,264690958336,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1962,77599224,282182189056,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1963,79915560,283741028352,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1964,82262800,293385666560,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,2018,332140032,18140645818368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
790,2019,334319680,19036100000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
791,2020,335942016,18509100000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
792,2021,336997632,19609800000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
793,2022,338289856,20041100000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [25]:
#scaling the features
scaler = StandardScaler()
X = scaler.fit_transform(x)

In [53]:
#Splitting the data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 45)

In [70]:
#Random Forest Model
rf = RandomForestRegressor(n_estimators=270, max_depth=3)
rf_model = rf.fit(x_train, y_train)
y_pred = rf_model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rsme = np.sqrt(mse)
print("The Mean Squared Error is {}".format(mse))
print("The R2 score is {}".format(r2))
print("The Root Mean Squared Error is {}".format(rsme))

The Mean Squared Error is 2541256.8226555972
The R2 score is 0.9320639710874818
The Root Mean Squared Error is 1594.1319966224871

In [50]:
#Linear Regression
LR = LinearRegression()
LRmodel = LR.fit(x_train, y_train)
y_LR_pred = LRmodel.predict(x_test)
mseLR = mean_squared_error(y_test, y_LR_pred)
r2LR = r2_score(y_test, y_LR_pred)
rsmeLR = np.sqrt(mseLR)
print("The Mean Squared Error is {}".format(mseLR))
print("The R2 score is {}".format(r2LR))
print("The Root Mean Squared Error is {}".format(rsmeLR))

The Mean Squared Error is 3088687.8128976314
The R2 score is 0.9174293669620209
The Root Mean Squared Error is 1757.4663049110306